.container #titolonav,.container a {
    color: #555555;
    text-decoration: solid;
    display: flex;
    width: 100%;
    font-weight: 600;
}

.nav {
    display: none
}

.navbar {
    background: 0 0
}

.navbar .container {
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2000;
    top: 0
}

#barra {
    width: 100%;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: inset 0px -2px #3333333d;
    background-color: #ffaf32;
}

#barra li {
    display: inline;
    margin-left: 2%;
    margin-right: 2%
}

#barra i {
    display: inline;
    color: #555555;
    margin-left: 1%
}

.container #titolonav {
    font-weight: 700;
    padding-left: 1%;
    font-variant: all-small-caps;
    display: inline-block !important;
}

.navbar i {
    display: none
}

@media screen and (min-width: 1024px) {
    .container {
        height:5.5em
    }

    #titolonav {
        /* margin-top:40px; */
        /* margin-bottom:50px; */
        width: 80%
    }
}

#barra .far {
    padding-left: 50%
}
