#background,#titles {
    /* width: 100%; */
    /* height: 100%; */
}

#background,.exp {
    position: relative
}

#background {
    padding: 0;
    /* background-image: url(https://res.cloudinary.com/nebrodi/image/upload/v1684142298/home/home2wp.webp) !important; */
    /* background-image: url(https://res.cloudinary.com/nebrodi/image/upload/v1684142138/home/home2.jpg); */
    /* background-repeat: no-repeat; */
    /* background-position: top; */
    /* background-size: 100%,100%; */
    /* background-color: #262626; */
    /* -webkit-animation-name: example; */
    /* Chrome, Safari, Opera */
    /* -webkit-animation-duration: 4s; */
    /* Chrome, Safari, Opera */
    /* animation-name: example; */
    /* animation-duration: 4s; */
}

#titles {
    color: #486ba6;
    /* background: #f9f9f91a; */
    position: absolute;
    top: 0;
    z-index: 10;
}

#titles h1 {
    font-size: 2.5em;
    padding-top: 20%;
    padding-bottom: 2%;
    color: #ffbd1d;
}

#titles h3 {
    color: #fff;
    padding-bottom: 200px
}

#little-story {
    /* padding-top: 2%; */
    height: 100%;
    background: #fff;
    /* padding-bottom: 7%; */
    z-index: 2;
}

#cosa {
    display: block;
    text-align: center;
    align-content: center;
    background-color: #fff;
    padding-bottom: 10%
}

#cosa h2 {
    padding-top: 2%;
    font-size: xx-large;
    color: #2d3037;
}

#cosa p {
    padding-left: 10%;
    padding-right: 10%;
    color: #000;
    font-size: x-large
}

#cosa a {
    background-color: #f8b81d;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    font-size: large;
    padding: 2%;
    margin-bottom: 5%;
    text-decoration: none;
    border-radius: 700
}

#sezionea {
    width: 60%;
    height: 17em;
    padding-top: 2%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    background-color: #9e9e9e
}

#sezionea h2 {
    color: #fff;
    text-align: right;
    padding-right: 7.2%
}

.exp {
    display: flex;
    flex-direction: row
}

.exp h3 {
    color: #fff;
    padding-left: 7%;
    padding-bottom: 2%;
    margin-left: 2%
}

#icona,#icona2 {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    border-radius: 50% 20%/10% 40%;
    background: #fff;
    color: #ffaf32;
    text-align: center;
    position: absolute;
    top: 50%;
    right: -1.25em;
    margin-top: -1.2em;
    z-index: 2;
    font-size: 24px
}

#img3 h2 {
    color: #000
}

#ima3 {
    display: block;
    width: 20%;
    padding-left: 40%;
    padding-bottom: 1em
}

@media screen and (min-width: 1200px) and (orientation:landscape) {
    #titles {
        /* height:700px; */
        /* padding: 0; */
    }

    #titles h1,#titles h3 {
        position: relative;
        padding: 0
    }
}

#use {
    color: #1b73b9;
    padding-left: 10%;
    width: fit-content;
}

.article-cc {
    position: relative;
    top: 100;
    left: 0;
    margin-bottom: 10%;
    background-image: url(https://res.cloudinary.com/nebrodi/image/upload/v1626421149/site/nebrodi/phone_r5fk9i.jpg);
    background-size: 100%,100%;
    background-repeat: no-repeat;
    width: 90%!important;
    height: 100%!important;
    padding: 5%;
}

#map-a {
    position: relative;
    top: 50;
}

#ab-page .article-cc h4 {
    color: red;
    padding: 0;
}

.article-cc h3 {
    color: white;
}

.article-cc a {
    color: #ffffff;
}

/* iphone xr, 12 in poi */
@media screen and (min-width: 350px) and (min-height:800px) {
    .article-cc {
        height: 65% !important;
        top: 50;
    }
}

/* fold */
@media screen and (min-width: 270px) and (min-height: 630px) {
    .article-cc {
        background-color: #d0811c;
        height: 100% !important;
        ; }

    #page {
        padding-top: 0;
    }

    .container #titolonav {
        /* font-size: 18px; */
        padding-top: 1%;
    }
}

